header .nav {
  background-color: #262526;
  box-shadow: 2px 2px 2px #404040;
  color: #f2f2f2;
  position: relative;

}
header .nav a {

  color: #f2f2f2;

}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

body {
  font-size: 16pt;
  font-weight: 300;
  font-family: 'Roboto';
  color: #424142;
  background-color: #f2f2f2;
}
.Roboto {
  font-family: roboto,sans-serif;
}
.titulo {
  font-weight: 300;
  color: #424142;
  font-size: 8.4vh;
  display: inline;
}

.objectImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  padding: 0px;
  margin: 0px;
}
a {
  color: #424142;

}
a:hover {
  text-decoration: none;
  
}
.blog-main {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow:  1px 1px 1px 1px #a8a8a8;
  margin: 10px;
}