<app-header>
</app-header>
<div class="container pt-5">
    <h1>Bernardo Lobato</h1>

    <div class="col-md-12">
        <div class="">
            <img align="right" src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/11953141_10206357296045744_1957923640642159679_n.jpg?_nc_cat=0&oh=cb751e322a471d6a5f1878de17f278f9&oe=5B51B619"
                class="rounded-circle img-profile">
            <p>I’m a linux server administrator and reliability expert
            </p>
            <p>I hold a Bachelor of Science in Information Technology and have 13 years of experience in the IT business.</p>
            <p>
                I also contribute to various open source projects including linux-kernel vim and homebrew I use this Blog to share my experiences
                and my knowledge with the world.</p>
        </div>

    </div>
    <div class="btn-group btn-group-toggle btn-group-lg" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" [value]="1"> <i class="fas fa-file-alt"></i>
            </label>
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" value="middle"> <i class="far fa-star"></i>
            </label>
            <label ngbButtonLabel class="btn-info">
              <input ngbButton type="radio" [value]="false"> <i class="fas fa-user"></i>
            </label>
            <label ngbButtonLabel class="btn-info">
                    <input ngbButton type="radio" [value]="false"><i class="far fa-user"></i>
                  </label>
          </div>
    <hr>

    <h2 class="ml-0">Minhas Publicações Favoritas</h2>
    <app-list-post [posts]="posts" [hideProfile]="true"></app-list-post>
</div>
<app-footer></app-footer>