  
<mat-toolbar color="primary">
    <span>Ficcionaria</span>
    <section class="mat-typography">
        <h1>Nova Publicação</h1>
      </section>
      
      <mat-form-field class="col-md-4">
        <mat-select name="country" placeholder="Status" [(ngModel)]="post.status">
          <mat-option *ngFor="let s of status" [value]="s">{{s}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <button mat-raised-button color="warn">Salvar</button>
  </mat-toolbar>

  <div class="container">


    <div class="row">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Título da Publicação" style="font-size: 4em; text-align:center">
      </mat-form-field>
    </div>
    
    <mat-form-field class="col-md-12">
      <textarea rows="20" style="height: 100%; font-size: 18px" matInput placeholder="Texto"></textarea>
    </mat-form-field>

  

  </div>
